*{
   /** margin: 0;
    padding: 0;**/
   box-sizing: border-box;
 
    text-decoration: none;
  scroll-behavior: smooth;
  background: rgb(254, 247, 233);
   /** font-family: -apple-system,sans-serif;**/
}
h1 {
    font-size: 45px;
    text-align: center;

}


.services {
    background:var(--snd-bg-color);
}
span {
    color: rgb(15, 247, 170);
}
.heading {
    text-align: center;
    font-size: 6.5rem;
}
.services-content {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, auto)) ;
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.1rem;
    
}
.row {
    background: silver;
    border-radius: 27px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px aquamarine;
    padding: 20px;
    transition: all 0.5s ease;
}

.row img {
    height: 210px;
    width: 100%;
    border-radius: 27px;
    margin-bottom: 1.4rem;

}
.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
    background: silver;
}
.row:hover {
    border: 1px solid var(--main-color);
    transform: translate(-5px) scale(1.04);
    cursor: pointer;


}
.container {
    width: 100%;
    height: 100vh;
   /** display: flex;
    align-items: center;
    justify-content: center;**/
}**/
.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}